<div class="container">
  <h1><%= @posting.title %></h1>
  <p class="text-muted">Created by <%= @posting.user.name %></p>
  <%= render @posting.post_comments %>

  <hr />
  <%= render partial: "post_comments/form" %>
</div>
